<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta charset="UTF-8">
        <title>Galactic bites</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>
        <div class="container">

            <div class="header">
                Galactic pics
            </div>
            
            <div class="main">
                <h1>Explore the universe day by day!</h1>

                <a type="a" href="/picoftheday">Pic of the day</a>
                <a type="a">Archive</a>
            </div>
        </div>
        <script src="script.js"></script>
    </body>
</html>