<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta charset="UTF-8">

        <title>Galactic pics</title>
    </head>
    <body>
        <h1><%= title %></h1>
        <img src="<%= url %>" width="800" >
        <h3><%= description %></h3>
        <h3><%= author %></h3>

        <script src="script.js"></script>
    </body>
</html>